.container {
  text-align: center;
  margin:20px auto;
}

button
{
font-size:30px;
font-weight: 500;
color:blue;
background:linear-gradient(to right,#338AFF, #3CF0C5);
border:0;
border-radius:12px;
margin:10px 10px;
padding:10px 10px;
display:inline-flex;

}